<a href="https://colab.research.google.com/github/Pager07/Webtech/blob/master/ConstructingRatingTable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set up

In [0]:
import pandas as pd 
import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive/', force_remount = True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive/

#Getting Rating Tabel
 - Keep ratings if the rated book exist in book_table
 - Keep rating if rating is greater than 0

In [0]:
root_dir = '/content/gdrive/My Drive/My Notes/3rd year/SSA/SSA/Web Technology/Webtech:Homework/BookData'
ratings_df = pd.read_csv(root_dir + '/BX-Book-Ratings.csv', sep=';', error_bad_lines=False,encoding="latin-1")
books_df = pd.read_csv(root_dir + '/books_table.csv',sep=',', error_bad_lines=False,encoding="latin-1")

In [0]:
%debug

In [37]:
books_df.head(
  
)

         ISBN  ...                                              genre
0  0395366283  ...                         Children's Fiction|General
1  0070434247  ...  Asia - Civilization|Asian Studies - East Asia ...
2  2253141453  ...                                            Fiction
3  0425171299  ...                                    Romance fiction
4  0440508568  ...                                     Science|Essays

[5 rows x 3 columns]

In [38]:
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [0]:
rating_new = ratings_df[ratings_df.ISBN.isin(books_df.ISBN)]

In [40]:
rating_new.head()

      User-ID        ISBN  Book-Rating
146    276822  0805057706           10
898    277143  0345342968            9
955    277157  0679450408            6
1024   277179  0679767800            7
1108   277195  0385149514            0

In [0]:
rating_new.columns = ['userID' , 'ISBN' , 'bookRating']

In [42]:
rating_new.bookRating.unique()

array([10,  9,  6,  7,  0,  8,  5,  4,  3,  2,  1])

In [0]:
rating_explicit  = rating_new[rating_new.bookRating != 0]

In [44]:
rating_explicit.shape

(3883, 3)

In [0]:
rating_explicit.to_csv(root_dir+'/ratings_table.csv')