<a href="https://colab.research.google.com/github/Pager07/Webtech/blob/master/SVDHomework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set up

In [0]:
import pandas as pd 
import numpy as np

In [19]:
from google.colab import drive 
drive.mount('/content/gdrive/', force_remount = True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive/

#Data Preprocessing

## Ladder Board

- Load all the tabels
- Maake the book table to only contain
  - ISBN(ID)
  - book_title
  - book genre
- Keep hold of book images table
  - convert it in to csv 
  - save it to google drive

##Script

In [24]:
root_dir = '/content/gdrive/My Drive/My Notes/3rd year/SSA/SSA/Web Technology/Webtech:Homework/BookData'
ratings_df = pd.read_csv(root_dir + '/BX-Book-Ratings.csv', sep=';', error_bad_lines=False,encoding="latin-1")
books_df = pd.read_csv(root_dir + '/BX-Books.csv',sep=';', error_bad_lines=False,encoding="latin-1")
books_df.columns = ['ISBN','book_title', 'book_author', 'year_of_publication' , 'publisher' , 'image_url_s' , 'image_url_m', 'image_url_l']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
books_df.drop(['book_author','year_of_publication','publisher'],axis=1 , inplace=True)

In [0]:
books_cover_image_df = books_df.drop(['book_title'],axis = 1)

In [55]:
books_cover_image_df.head()

         ISBN  ...                                        image_url_l
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 4 columns]

In [0]:
books_df.drop(['image_url_s','image_url_m','image_url_l'],axis = 1, inplace = True)

In [58]:
books_df.head()

         ISBN                                         book_title
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

In [62]:
books_df.ISBN.shape

(271360,)

#Getting Book Genre

##Ladder Board

## Script

In [0]:
import requests as req

In [16]:
h = {'Authorization': '43619_ca9d7479c3ab0e1c78f2d34b5d0004d0'}
resp = req.get("https://api2.isbndb.com/book/0060973129", headers=h)
book=(resp.json())
book['book']['subjects']

['World War, 1939-1945--Campaigns',
 'World War, 1939-1945--Campaigns--France--Normandy',
 'History',
 'D756.5.N6 D47 1991',
 '940.54/2142']