<a href="https://colab.research.google.com/github/Pager07/Webtech/blob/master/SVDHomeWork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set up

In [0]:
import pandas as pd 
import numpy as np
from scipy.sparse.linalg import svds

In [4]:
from google.colab import drive 
drive.mount('/content/gdrive/', force_remount = True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive/

#Loading Book and Rating Table

In [0]:
root_dir = '/content/gdrive/My Drive/My Notes/3rd year/SSA/SSA/Web Technology/Webtech:Homework/BookData'
ratings_df = pd.read_csv(root_dir + '/rate_table.csv', sep=',', error_bad_lines=False,encoding="latin-1")
books_df = pd.read_csv(root_dir + '/books_table.csv',sep=',', error_bad_lines=False,encoding="latin-1")

In [6]:
ratings_df.head()

   userID        ISBN  bookRating
0  276822  0805057706          10
1  277143  0345342968           9
2  277157  0679450408           6
3  277179  0679767800           7
4  277427  0385424736           9

In [7]:
books_df.head()

         ISBN  ...                                              genre
0  0395366283  ...                         Children's Fiction|General
1  0070434247  ...  Asia - Civilization|Asian Studies - East Asia ...
2  2253141453  ...                                            Fiction
3  0425171299  ...                                    Romance fiction
4  0440508568  ...                                     Science|Essays

[5 rows x 3 columns]

#Setting up Rating Data
 - Formate rating matrix 
    - user x movies 
    - use df.piviot ffunction
    - Fill cells with na with 0
- De-mean the data
    - nomrmalize by each users mean
        - find mean vector: user_mean * 1 
        - Subtract it from coloum
    - Convert it form a dataframe to numpy array

In [0]:
r_df = ratings_df.pivot(index='userID',columns='ISBN',values='bookRating').fillna(0)

In [9]:
r_df.head()

ISBN    0002211890  0002245663  0006161529  ...  8830407445  8836807356  9728288115
userID                                      ...
78             0.0         0.0         0.0  ...         0.0         0.0         0.0
91             0.0         0.0         0.0  ...         0.0         0.0         0.0
224            0.0         0.0         0.0  ...         0.0         0.0         0.0
243            0.0         0.0         0.0  ...         0.0         0.0         0.0
280            0.0         0.0         0.0  ...         0.0         0.0         0.0

[5 rows x 1303 columns]

In [10]:
R = r_df.as_matrix()
users_mean_rating = np.mean(R, axis = 1)
R_demeaned = R - users_mean_rating.reshape(-1,1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

#Singular Value Decomposition SVD
- Follow the guide
- Y = U x sigma x Vt
    - Kinda like X x Theta'
    - simga is a diagonal matrix like,identity matrix but not really
        - Just scales things up

- Y = user X movie

In [0]:
U,sigma,Vt = svds(R_demeaned, k=50)
sigma = np.diag(sigma)
Y = np.dot(np.dot(U,sigma),Vt) + users_mean_rating.reshape(-1,1)

In [0]:
Y_df = pd.DataFrame(Y,columns=r_df.columns)

In [17]:
Y_df.head()

ISBN  0002211890  0002245663  0006161529  ...  8830407445  8836807356  9728288115
0      -0.001161   -0.000698   -0.001161  ...   -0.000852   -0.000852   -0.000852
1      -0.000434   -0.000456   -0.000434  ...   -0.000449   -0.000449   -0.000449
2      -0.000456   -0.000451   -0.000456  ...   -0.000454   -0.000454   -0.000454
3      -0.001439   -0.001399   -0.001439  ...   -0.001413   -0.001413   -0.001413
4      -0.000338   -0.000355   -0.000338  ...   -0.000349   -0.000349   -0.000349

[5 rows x 1303 columns]

#Movie Reccomendation