#Set Up

In [1]:
from flask import Flask,render_template,url_for
import pandas as pd
import sys
app = Flask(__name__)

In [7]:
%load_ext autoreload
%autoreload 2
sys.path.append('/Users/sandeep/opt/anaconda3/lib/python3.7/site-packages')
import import_ipynb
import SVDHomeWork as database

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

#Flask

In [10]:
posts = {'name':'Sandeep' , 'age':20}

In [11]:
@app.route("/")
@app.route("/home")
def home():
    return render_template('child.html' , posts=posts , books= [{'name': 'Spiderman'}, {'name':'XMEN'}])

In [12]:
# @app.route("/about")
# def about():
#     return render_template('about.html', title='About')

In [13]:
if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [19/Nov/2019 19:53:06] "GET / HTTP/1.1" 200 -

#Svd module: GET USER RECOMMENDATION

- THIS FUNCTION RETURN A RECOMMENDATED RATING FOR  GIVEN USER
    - user get_reommendation function()
        - Takes in userID, books_df , rating_df
        - How to get books_df, rating_df?
            - HAVE A FUNCTION IN SVDHW THAT RETURNS THE 2 DATAFRAME
            - THIS WILL BE THE ARGUMENTS

In [3]:
books_df , ratings_df = database.get_df()

In [4]:
ratings_df

      userID        ISBN  bookRating
0       2299  0805057706          10
1       2403  0345342968           9
2       2413  0679450408           6
3       2419  0679767800           7
4       2507  0385424736           9
...      ...         ...         ...
3878    2146  0316769487          10
3879    2188  0870114573           7
3880    2227  051513306X           7
3881    2253  0805073337           9
3882    2256  0684804484          10

[3883 rows x 3 columns]

In [5]:
user_rated_books, new_books =database.get_recommendation(books_df,ratings_df,20)

In [8]:
user_rated_books

,userID,ISBN,bookRating,book_title,genre
0,20,0446527165,5,Wish You Well,Traffic Accident Victims|Family Relationships|...

In [ ]:
new_books