<a href="https://colab.research.google.com/github/Pager07/Webtech/blob/master/ConstructingBookTable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set up

In [0]:
import pandas as pd 
import numpy as np

In [94]:
from google.colab import drive 
drive.mount('/content/gdrive/', force_remount = True)

Mounted at /content/gdrive/

#Data Preprocessing

## Ladder Board

- Load all the tabels
- Maake the book table to only contain
  - ISBN(ID)
  - book_title
  - book genre
- Keep hold of book images table
  - convert it in to csv 
  - save it to google drive

##Script

In [95]:
root_dir = '/content/gdrive/My Drive/My Notes/3rd year/SSA/SSA/Web Technology/Webtech:Homework/BookData'
ratings_df = pd.read_csv(root_dir + '/BX-Book-Ratings.csv', sep=';', error_bad_lines=False,encoding="latin-1")
books_df = pd.read_csv(root_dir + '/BX-Books.csv',sep=';', error_bad_lines=False,encoding="latin-1")
books_df.columns = ['ISBN','book_title', 'book_author', 'year_of_publication' , 'publisher' , 'image_url_s' , 'image_url_m', 'image_url_l']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
books_df.drop(['book_author','year_of_publication','publisher'],axis=1 , inplace=True)

In [0]:
books_cover_image_df = books_df.drop(['book_title'],axis = 1)

In [98]:
books_cover_image_df.head()

         ISBN  ...                                        image_url_l
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 4 columns]

In [0]:
books_df.drop(['image_url_s','image_url_m','image_url_l'],axis = 1, inplace = True)

In [100]:
books_df.head()

         ISBN                                         book_title
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

In [101]:
books_df.ISBN.shape

(271360,)

#Getting Book Table
- In the books_df add a new column called Genere 
 - For every ISBN
      - Make API request to get it book sbjects
          - If no books subject, len() is 0 or error:
              - remove the book from books_df
              - Move on to next ISBN
          - If it exist:
              - Filter the list
                  - Does not contain numbers 
              - How many genere can we have?
                  - Many
                    - If many:Contcatonate the strings in the following format
                         - 'Comedy|Romance' 
                  - Just one 
                      - Dont need to concatonate
              - Add it to books_df
- Run until you have 1000 books with gnere

## Script

In [0]:
import requests as req

In [103]:
h = {'Authorization': '43619_ca9d7479c3ab0e1c78f2d34b5d0004d0'}
resp = req.get("https://api2.isbndb.com/book/0195153448", headers=h)
book=(resp.json())
book
'errorMessage' in book
# book['book']['subjects']

False

In [0]:
books_df['genre'] = [""]*books_df.shape[0]

In [105]:
books_df.head()

         ISBN                                         book_title genre
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

In [106]:
ii=books_df[books_df.ISBN == '0195153448'].index ; ii

Int64Index([0], dtype='int64')

In [0]:
books_df=books_df.sample(10000)

In [108]:
books_df.shape

(10000, 3)

In [0]:
books_df

In [0]:
from progressbar import  ProgressBar
pbar = ProgressBar()

In [110]:
for isbn in pbar(books_df.ISBN):
  request_string = "https://api2.isbndb.com/book/"+isbn
  resp = req.get(request_string, headers=h)
  book = (resp.json())
  if 'errorMessage' in book:
    book_index = books_df[books_df.ISBN == isbn].index
    books_df.drop(book_index,inplace = True)
  elif 'subjects' not in book['book']:
     book_index = books_df[books_df.ISBN == isbn].index
     books_df.drop(book_index,inplace = True)
  elif len(book['book']['subjects']) == 0:
    book_index = books_df[books_df.ISBN == isbn].index
    book_df.drop(book_index,inplace = True)
  else:
    subjects = book['book']['subjects']
    filtered_subject = [subject for subject in subjects if any(char.isdigit() for char in subject) == False]
    subject_string = '|'.join(filtered_subject)
    books_df.loc[books_df.ISBN == isbn , 'genre' ] = subject_string

100% (10000 of 10000) |##################| Elapsed Time: 0:39:33 Time:  0:39:33

In [111]:
books_df.shape

(2208, 3)

In [0]:
books_df.to_csv(root_dir+'/books_table.csv' , index = False)

#Getting Ratting Table
 
 - Keep Rating if