<a href="https://colab.research.google.com/github/Pager07/Webtech/blob/master/SVDMoiveLenseExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Setting up

In [0]:
import pandas as pd 
import numpy as np

In [3]:
from google.colab import drive 
drive.mount('/content/gdrive/', force_remount = True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive/

#Data Visualization and Preprocessing

##Data Loading

In [0]:
root_dir = '/content/gdrive/My Drive/My Notes/3rd year/SSA/SSA/Web Technology/Webtech:Homework/MovieData'
ratings_df = pd.read_csv(root_dir + '/ratings.csv')
movies_df = pd.read_csv(root_dir + '/movies.csv')

In [5]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
movies_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

##Format rating matrix to approriate shape
- rows:sample|users
- cols: feature|movie

In [0]:
R_df = ratings_df.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)

In [9]:
R_df.head()

movieId  1       2       3       4       ...  193583  193585  193587  193609
userId                                   ...
1           4.0     0.0     4.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           4.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 9724 columns]

#Normalize the data by each user mean

In [10]:
R = R_df.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

#Singular Value Decomposition

In [0]:
from scipy.sparse.linalg import svds

Σ returned is just the values instead of a diagonal matrix.

Since I’m going to leverage matrix multiplication to get predictions I’ll convert it to the diagonal matrix form

In [0]:
U, sigma, Vt = svds(R_demeaned, k = 50)

In [0]:
sigma = np.diag(sigma)

#Making prediction

In [17]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1);all_user_predicted_ratings.shape

(610, 9724)

In [30]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns);preds_df.head()

movieId    1         2         3       ...    193585    193587    193609
0        2.167328  0.402751  0.840184  ... -0.023453 -0.023453 -0.058732
1        0.211459  0.006658  0.033455  ...  0.019498  0.019498  0.032281
2        0.003588  0.030518  0.046393  ...  0.005909  0.005909  0.008004
3        2.051549 -0.387104 -0.252199  ...  0.004836  0.004836 -0.023311
4        1.344738  0.778511  0.065749  ... -0.008042 -0.008042 -0.010127

[5 rows x 9724 columns]

#Making Movie Recommendation

In [0]:
def recommend_movies(predictions_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = predictions_df.iloc[user_row_number].sort_values(ascending=False)
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df.userId == (userID)]
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'movieId', right_on = 'movieId').
                     sort_values(['rating'], ascending=False)
                 )

    print(f'User {userID} has already rated {user_full.shape[0]} movies.')
    print(f'Recommending the highest {num_recommendations} predicted ratings movies not already rated.')
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['movieId'].isin(user_full['movieId'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'movieId',
               right_on = 'movieId').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [36]:
already_rated, predictions = recommend_movies(preds_df,600, movies_df, ratings_df, 10)

User 600 has already rated 763 movies.
Recommending the highest 10 predicted ratings movies not already rated.

In [37]:
predictions

      movieId  ...                                  genres
1439     2395  ...                            Comedy|Drama
838      1387  ...                           Action|Horror
1190     1997  ...                          Horror|Mystery
3048     4979  ...                            Comedy|Drama
456       708  ...                          Comedy|Romance
0           3  ...                          Comedy|Romance
2988     4878  ...           Drama|Mystery|Sci-Fi|Thriller
728      1215  ...  Action|Adventure|Comedy|Fantasy|Horror
5306    39183  ...                           Drama|Romance
548       904  ...                        Mystery|Thriller

[10 rows x 3 columns]

In [38]:
already_rated

     userId  ...                                   genres
179     600  ...  Action|Adventure|Comedy|Fantasy|Romance
708     600  ...      Adventure|Animation|Fantasy|Romance
700     600  ...     Adventure|Animation|Children|Fantasy
333     600  ...                 Action|Adventure|Fantasy
692     600  ...                                    Drama
..      ...  ...                                      ...
255     600  ...                            Action|Sci-Fi
693     600  ...  Action|Adventure|Drama|Mystery|Thriller
728     600  ...              Action|Sci-Fi|Thriller|IMAX
567     600  ...                                   Horror
177     600  ...                                    Drama

[763 rows x 6 columns]